API_HASH  = "2714c0f32cbede4c64f4e9fd628dbe29"
API_ID = 26661233
BOT_TOKEN  = "6328434440:AAHZNJrfECd9BNaezCvjVhP81i-q__1luss"
CLEANMODE_MINS = "5"
MONGO_DB_URI  ="mongodb+srv://alphacloud:20092001@cluster0.kqdxw.mongodb.net/?retryWrites=true&w=majority"
MUSIC_BOT_NAME ="ALPHA CLOUD"
OWNER_ID ="6425297312"
SESSION ="BQGW0XEAibDih9aH7u-z9AVp7P8C4Cao4DdfukAbGNagcCPxe5VbchZUofYVr-jaTC19DPqByfJ3jMZE97ZHam0z5VJLSZlqIGZyGaMk90HqJDj4PCspbyXMUSZnfrH_EZi0iKZvUnwUgKnIHM516bDmP1BpZJH3Mp6fGitOVEudth-5MeQvcYJwJplgs9xdMMUKs39akeYnXopWbJhdncN5qW53aEnkrXhk1d-kK3UBZkTWUrQ9mO8thlvfccIBbwCpMlryU4ICglk5s0XveyQP1AnEQIrhBZ9_9ZaZTE56EQAIYyltFDUTCJIeb4xsBUY_a-OfEvTIWGdP5GDsjlvB6_dNNQAAAAGfW2MgAA"
SUPPORT_CHANNEL ="https://t.me/Alphacloudsupport"
SUPPORT_GROUP ="https://t.me/AlphaCloudChatsup"
LOG_GROUP_ID ="-1002132754143"
